<!-- template for 'how to ask for..?' page. this page needs to be routed -->

{% extends 'base.html' %}

{% block body %}
<h3>Sometimes, asking for what you need can be scary and some topics are highly stigmatized...</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Service</th>
        <th scope="col">How to ask for it!</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Pap smear</th>
        <td></td>
      </tr>
      <tr>
        <th scope="row">STD/STI testing</th>
        <td></td>
      </tr>
      <tr>
        <th scope="row">HIV testing</th>
        <td></td>
      </tr>
    </tbody>
  </table>
{% endblock %}