<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<div class = "container" style="margin-bottom: -300px;">
  <h1>Clinic Locator</h1>
  <br>
  <div class = "row border">
    <div class="col-4 overflow-scroll" style="height: 850px" >
    <p class="fs-3 fw-semibold">Clinic List</p>
    {% for clinic in clinics %}
      <strong class="mb-1">{{clinic.name}}</strong>
      <p>{{clinic.address}}<br>{{clinic.services}}<br>{{clinic.description}}</p>
    {% endfor %}
    </div>
    <div class="col-8" >
      <div id="map" style="height: 850px; position: relative; " ></div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0-beta.1/leaflet.js" ></script>

<script type="text/javascript" >
    // The first parameter are the coordinates of the center of the map
    // The second parameter is the zoom level
    var map = L.map('map').setView([37.807513,-122.2697032], 11);
    
    // {s}, {z}, {x} and {y} are placeholders for map tiles
    // {x} and {y} are the x/y of where you are on the map
    // {z} is the zoom level
    // {s} is the subdomain of cartodb
    var layer = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });
    
    // Now add the layer onto the map
    map.addLayer(layer);

    // It even opens up a popup when you click it!
    
    console.log('{{clinics[0].name}}')

    {% for clinic in clinics %}

      L.marker(['{{clinic.lat}}', '{{clinic.lon}}']).addTo(map).bindPopup("<strong>{{clinic.name}}</strong>").openPopup();

    {% endfor %}
//don't worry about the red underlines this is an error that Mr. Wright says is not actually an error 

</script>


{% endblock %}