<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<div class = "wrapper row" style="width: 100%; align-items: stretch;">

  <nav id="sidebar"class="col" width="250px">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
      <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-3 fw-semibold">Clinics</span>
      </a>
      <div class="list-group list-group-flush border-bottom scrollarea">
        {% for clinic in clinics %}
        <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{clinic.name}}</strong>
          </div>
          <div class="col-10 mb-1 small">{{clinic.address}}<br>{{clinic.services}}<br>{{clinic.description}}</div>
        </a>
        {% endfor %}
    </div>
  </nav>

<div id="map" style="height: 850px; position: relative; "class="col"></div>
</div>
<br>
<br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0-beta.1/leaflet.js"></script>

<script type="text/javascript">
    // The first parameter are the coordinates of the center of the map
    // The second parameter is the zoom level
    var map = L.map('map').setView([37.807513,-122.2697032], 11);
    
    // {s}, {z}, {x} and {y} are placeholders for map tiles
    // {x} and {y} are the x/y of where you are on the map
    // {z} is the zoom level
    // {s} is the subdomain of cartodb
    var layer = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });
    
    // Now add the layer onto the map
    map.addLayer(layer);

    // It even opens up a popup when you click it!
    
    console.log('{{clinics[0].name}}')

    {% for clinic in clinics %}

      L.marker(['{{clinic.lat}}', '{{clinic.lon}}']).addTo(map).bindPopup("<strong>{{clinic.name}}</strong>").openPopup();

    {% endfor %}
//don't worry about the red underlines this is an error that Mr. Wright says is not actually an error 

</script>


{% endblock %}