{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Clinics</h1>
    </div>
    <div class="col">
        <a href="/clinic/new" class="btn btn-primary btn-sm mt-5" role="button">New Clinic</a>
    </div>
</div>

{% if clinics %}
    {% for clinic in clinics %}
        <div class="row border-bottom">
            <div class="col-1">
                {% if loop.index == 1 %}
                <h3 class="display-2"></h3>
                {% endif %}

                <a href="/clinic/delete/{{clinic.id}}">
                    del
                </a>
                 - 
                <a href="/clinic/edit/{{clinic.id}}">
                    edit
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-2">Date</h3>
                {% endif %}

                <a href="/clinic/{{clinic.id}}">
                    {{moment(clinic.createdate).calendar()}}
                </a>
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-2">Name</h3>
                {% endif %}
                {{clinic.name}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-4">Services</h3>
                {% endif %}
                {{clinic.services}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-2">Address</h3>
                {% endif %}
                {{clinic.address}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-2">Description</h3>
                {% endif %}
                {{clinic.description}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-2">lat/lon</h3>
                {% endif %}
                {{clinic.lat}}/{{clinic.lon}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Clinics</h1>
{% endif %}

{% endblock %}