{% extends 'base.html' %}

{% block body %}

<h1>Welcome to ACCESS - The reproductive health clinic locator!</h1>

<img src="/static/reproductivehealth.jpg" alt="no idea as to why my image isnt coming up but this is the best i could do so i hope you are proud!">

<p>

</p>
<br>

<!-- Footer -->
<footer class=" text-center " style="background-color:#f9ebeb;">
    <!-- Grid container -->
    <div class="container p-4">
  
  
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
          distinctio earum repellat quaerat voluptatibus placeat nam,
          commodi optio pariatur est quia magnam eum harum corrupti dicta,
          aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->
  
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <a class="text-uppercase text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2022 Copyright
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

{% endblock %}