{% extends 'base.html' %}

{% block body %}

{% if post %}

{{moment(post.createdate).calendar()}} by {{post.author.username}} <br>
    {% if post.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Post" href="/post/delete/{{post.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Post" href="/post/edit/{{post.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}

    <h1 class="display-5">{{post.subject}}</h1>
    <p class="fs-3 text-break">{{post.content}}</p>

{% else %}
    <h1>No Post</h1>
{% endif %}

{% endblock %}