<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="whyaccess.css">

<h1 style="color:black;font-size:100px;">What is ACCESS?</h1><br>
<div class="container" id="background">
  <br>
  <div class="container-fluid bg-dark text-light p-5">
    <div class="container bg-dark p-5">
        <h1 class="display-4">ACCESS REPRODUCTIVE HEALTH CLINICS NEAR YOU</h1>
        <hr>
        <p>We want to give people, specifically those in low-income or rural communities, or communities politically or morally opposed to reproductive education, the tools to locate and physically get to reproductive health care services.</p>
    <br>
        <p>Interactivity Description:</p>
        <p>Data search: Map of abortion clinics/service providers nearby</p>
        <p>Data entry: Clinicians entering their reproductive health clinics into our database </p>
        
    </div>
</div>
<br>
<br>
<div class="row justify-content-md-center">

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Maggie</h5>
    <p class="card-text">I am a 12th grader at Oakland Tech High School who is passionate about widening access to reproductive healthcare and ending the stigma around asking for reproductive help. I have met a lot of people who are unaware about the resources around them, so I hope that our website can help spread awareness and information.</p>
  </div>
</div>
 
<div class="card mx-5 text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Julia</h5>
    <p class="card-text">I am a young woman in STEM with a passion for feminism and reproductive rights. I have worked to create this site with hopes to increase access to reproductive heathcare for lower-income women around the bay area. Our goal is to give women a resource to not only locate clinics, but also learn the specific language with which to request the care they need. I believe this site will be made a positive and useful tool within the reproductive healthcare world.  </p>
  </div>
</div>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Sylvie</h5>
    <p class="card-text">I am a young woman and 12th grader at Oakland Technical High School who is learning to use computer science to promote social progress. Ensuring all people can access reproductive health care is a necessity. I am committed to ending sexual stigma and improving the quality of care in my community as a means of bettering lives, and I will move into the future instilled with the importance of challenging inequity with all that I create.</p>
  </div>
</div>
</div> <!--row end-->
<br>
<br>
{% endblock %}